<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VinoNET</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Ibarra+Real+Nova|Pinyon+Script&display=swap" rel="stylesheet">
</head>
<body>

    <header>

        <nav class="nav">
            <div class="container-fluid">
                <div class="logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index">VinoNET</a>
                </div>
                <div id="mainListDiv" class="main_list">
                    <ul class="navlinks">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Wines" asp-action="Index">Vinos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Eventos</a>
                        </li>
                        <li class="nav-item">
                            <partial name="_LoginPartial" />
                        </li>
                    </ul>
                </div>
                <span class="navTrigger">
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
            </div>
        </nav>

        <section class="home">
        </section>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="social_icons_rounded">
            <ul>
                <li><a href="#" class="gap f_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="gap t_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="gap pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="gap linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="gap g_google"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="gap dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="gap skype"><i class="fa fa-skype" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="gap flickr"><i class="fa fa-flickr" aria-hidden="true"></i></a> </li>
            </ul>
        </div>
    </footer>

    @*----------------------------------------------------------------------------------------------------------------*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/ImageGallery.js" asp-append-version="true"></script>

    <!-- Function used to shrink nav bar removing paddings and adding black background -->
    <script>
        $(window).scroll(function () {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });
    </script>

    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", required: false)

</body>
</html>