<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VinoNET</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">


</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">VinoNET</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Wines" asp-action="Index">Vinos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Eventos</a>
                    </li>





                    @*<li class="nav-item">
            <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>*@
                </ul>

                <partial name="_LoginPartial" />

                @*<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>*@
            </div>            
        </nav>
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">VinoNET</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Tastes" asp-action="Survey">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Tastes" asp-action="Survey">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>*@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="social_icons_rounded">
            <ul>
                <li><a href="#" class="gap f_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="gap t_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="gap pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="gap linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="gap g_google"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="gap dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="gap skype"><i class="fa fa-skype" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="gap flickr"><i class="fa fa-flickr" aria-hidden="true"></i></a> </li>
            </ul>
        </div>


    </footer>

    @*----------------------------------------------------------------------------------------------------------------*@
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
