@using Microsoft.AspNetCore.Identity
@using Wineapp.Services;
@inject SignInManager<AppUser> _signInManager
@inject UserManager<AppUser> _userManager
@inject ITastes  _tastesServices
@model Wineapp.Models.ViewModels.WinesVM

@{
    ViewData["Title"] = "Inicio";
}

<h1 class="test">Bienvenido la web del proyecto VinoNET</h1>


<div>
    <h3>DENOMINACIONES DE ORIGEN</h3>

    <!--El método en HomeController ya crea la lista según si el usuario está registrado o no-->
    <!--La lista solo tiene 3 elementos por lo que si queremos añadir más hay que cambiar el HomeController-->

    @foreach (Source source in Model.ListSources)
    {

        <form asp-controller="Wines" asp-action="SourcePreferences">
            <input type="hidden" name="sourceId" value="@source.Id"/>
            <input type="image" src="~/img/dologo/@source.Logo"/>
        </form>
        <!--La etiqueta <a> es solo para indicaros la ruta a la que hay que mandar el id cuando pincha la imagen-->
    }
</div>



<div>
    <h4>VINOS</h4>

    @if (_signInManager.IsSignedIn(User))
    {
        <!--PARA EL USUARIO REGISTRADO-->
        <h3>TE RECOMENDAMOS</h3>
    }
    else
    {
        <!--NO REGISTRADO-->
        <h3>LO MÁS VISTO</h3>
    }

    <!--El método en HomeController ya crea la lista según si el usuario está registrado o no-->
    <!--La lista solo tiene 3 elementos-->

    @foreach (Wine wine in Model.ListWineTaste)
    {
        <form asp-controller="Wines" asp-action="Details">
            <input type="hidden" name="id" value="@wine.Id" />
            <input type="image" src="~/img/wines/@wine.Image"  height="150" />
        </form>
        <p>@wine.Colour.ColourType,@wine.Sweetnes.SweetnesType,@wine.Source.SourceType</p>

        <!--La etiqueta <a> es solo para indicaros la ruta-->
    }

</div>









