@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "";
}
@section Styles {
    <link href="@Url.Content("~/css/registeremail.css")" rel="stylesheet" type="text/css" />
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />


<h4 class="usersurvey"> Ayúdanos a conocerte mejor </h4>

<div class="text-center">
    <a class="page-link" asp-controller="Tastes" asp-action="Survey"> Continuar </a>
    <a class= "page-link" asp-controller="Home" asp-action="Index"> Omitir </a>
</div>

