section.home {
    background-image: url("../img/navbarbackground4.jpg");
    height: 250px;
}

h1 {
    padding-top: 5%;
    padding-bottom: 3%;
}

.col-md-4 {
    padding-left: 5%;
}

button.btn.btn-primary {
   margin: 5%;
}

input {
    font-family: 'Ibarra Real Nova', serif;
}
