section.home {
    background-image: url("../img/navbarbackground6.jpg");
    height: 250px;
}

.usercontinue {
    text-align: center;
   
    
}
h5.textdebien{ /*bienvenida a un nuevo usuario*/
    text-align:center;
    color:black;
    padding-top:5%;
    padding-bottom:3%;
}
.usersurvey { /* encuesta para el usuario*/
    text-align: center;
    color: darkred;
    padding-top: 5%;
    padding-bottom: 3%;
}
.dosboton {
    text-align:center;
    width: 26%;
    margin-left: 39%;
    padding-bottom:1%
}
.dosboton2 {
    text-align:center;
    width: 26%;
    margin-left: 39%;
}