/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    font-family: 'Cinzel', serif;
    margin: 0;
    padding: 0;
}

/* Provide sufficient contrast against white background */
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: black;
}

/* Footer icons
---------------------------------------------------------*/
.social_icons_rounded{
    height: 70px;
}
.social_icons_rounded ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 0px;
    /*padding-left: 38%;*/ /*Really bad method to "center" the footer icons (created by Raúl)*/
}

    .social_icons_rounded ul li a {
        float: left;
        border-radius: 50%;
        line-height: 40px;
        color: #e0e0e0;
        height: 40px;
        width: 40px;
        text-align: center;
        margin-bottom: 1%;
        border: 1px solid #e0e0e0
    }

        .social_icons_rounded ul li a i {
            font-size: 16px
        }

.f_facebook:hover {
    color: #fff;
    background: #2a66b3;
    border: 1px solid #2a66b3
}

.t_twitter:hover {
    color: #fff;
    background: #35bbec;
    border: 1px solid #35bbec
}

.pinterest:hover {
    color: #fff;
    background: #cb2027;
    border: 1px solid #cb2027
}

.linkedin:hover {
    color: #fff;
    background: #007bb5;
    border: 1px solid #007bb5
}

.g_google:hover {
    color: #fff;
    background: #e55644;
    border: 1px solid #e55644
}

.dribbble:hover {
    color: #fff;
    background: #ea4c89;
    border: 1px solid #ea4c89
}

.skype:hover {
    color: #fff;
    background: #01aaf8;
    border: 1px solid #01aaf8
}

.flickr:hover {
    color: #fff;
    background: #ff0084;
    border: 1px solid #ff0084
}

.gap {
    margin-left: 15px
}

/* Personal style ---------------------------------------------------------*/

.surveyp {
    font-size: 1.5rem;
}

.test {
    padding-top: 5%;
    padding-bottom: 5%;
}

.test2 {
    text-align: justify;
    font-size: 1.3rem;
    padding-bottom: 5%;
}