h1 {
  margin: 0 auto;
  padding-top: 3%;
  padding-bottom: 4%;
  font-weight: bold;
}

h4 {
  margin-top: 3%;
}

.surveyp {
  margin-left: 5%;
  margin-top: 3%;
}

.form-group {  
  padding-left: 5%;  
  font-family: 'Libre Baskerville', serif;

}

.questions {
  margin-left: 5%;
  margin-top: 3%
}

.questionsblock {
  padding-left: 12%;
  font-size: 1.1rem;
}

.sendbutton {
  margin: 5%;
  margin-left: 15%;
}
