section.home {
    background-image: url("../img/navbarbackground5.jpg");
    height: 250px;
}

.winedetailstoph1 {
    font-family: 'Ibarra Real Nova', serif;
    padding-top: 5%;
    padding-left: 10%;    
}

.winedetailsblock {
    padding-top: 5%;
}

.wineimage {
    height: 600px;    
}

.domapimage  {
    height: 200px;
}

.dologoimage {
    height: 200px;
}

.textwinedetails {    
    padding-top: 4%;
    padding-left: 10%;    
    font-family: 'Ibarra Real Nova', serif;
}

.textwinedetails p {
    margin: 0;
    font-size: 1.6rem;    
}

.ptitle {    
    font-weight: bold;
}

.winedetailsiframe {
    border: none;
    padding-top: 10%;
}

h3 {
    font-family: 'Ibarra Real Nova', serif;
    padding-top: 2%;
    padding-left: 5%;
}


/*- Slider -----------------------------------------------------------------*/

.slider {
    font-family: 'Ibarra Real Nova', serif;
    padding-top: 50px;
}

.slidertitle {
    padding-bottom: 25px;
}

.wineiframe {
    border: none;
    padding-left: 50px;
    padding-top: 25px;
}

.bigpicturebox {
    border: none;
}

    .bigpicturebox img {
        width: 400px;
        margin-left: 100px;
    }

.winedetails {
    font-size: 1.5rem;
    text-align: center;
    padding-right: 150px;
    padding-top: 50px;
}

.winedetailsname {
    font-size: 2rem;
    font-weight: bold;
}

.slidewinelist {
    text-align: center;
}

    .slidewinelist h5 {
        padding-top: 10px;
    }