@model Wineapp.Models.Wine

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Wine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ColourId" class="control-label"></label>
                <select asp-for="ColourId" class ="form-control" asp-items="ViewBag.ColourId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SweetnesId" class="control-label"></label>
                <select asp-for="SweetnesId" class ="form-control" asp-items="ViewBag.SweetnesId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SourceId" class="control-label"></label>
                <select asp-for="SourceId" class ="form-control" asp-items="ViewBag.SourceId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company" class="control-label"></label>
                <input asp-for="Company" class="form-control" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Sparkling" /> @Html.DisplayNameFor(model => model.Sparkling)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Publish" /> @Html.DisplayNameFor(model => model.Publish)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
